<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shusheng.mapper.db2.MoreDb2Mapper">
    <!-- 查询服务器数据 -->
    <select id="getTranInfo" resultType="cn.hutool.json.JSONObject">
        select *
        from liu_info
    </select>
</mapper>